* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: black;
  height: 80px;
}

header div img {
  width: 120px;
}

header #login {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

header #login select {
  background: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}

header #login button {
  background: #e50914;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

section {
  background-image: url("../images/banner.jpg");
  color: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

section::after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.29;
}

section h1 {
  font-size: 70px;
  position: relative;
  z-index: 1;
}

section div {
  width: 40%;
  display: flex;
  position: relative;
  z-index: 1;
}

section div input {
  height: 60px;
  width: 80%;
  font-size: 20px;
  border-radius: 4px;
}

section div button {
  width: 19%;
  background: #e50914;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 4px;
}
